body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient( rgb(0, 0, 0),rgb(0, 83, 83), rgb(0, 0, 0));
}

.entrada-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.conteudo {
    background-color: rgba(0, 0, 0, 0.85);
    padding: 50px 40px;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(13, 142, 156, 0.422);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.titulo {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #127f90; 
}

.subtitulo {
    font-size: 1.1em;
    color: #aaa;
    margin-bottom: 30px;
}

.formulario-login {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formulario-login input {
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    background-color: #333;
    color: white;
}

.formulario-login input::placeholder {
    color: #bbb;
}

.botao-entrar {
    background-color: #27adb6;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 12px;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
}

.botao-entrar:hover {
    background-color: #136b91;
    transform: scale(1.05);
}
